
<header>

    <nav class="navbar navbar-expand-sm bg-body">

    <section class="container-fluid">
<!--CERTUS-->
      <section>
        <a class="navbar-brand text">CERTUS</a>
      </section>
<!--OPCIONES-->
      <section class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav mr-5">
        <li class="nav-item">
          <a class="nav-link">Características</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Soporte para empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Precios</a>
        </li>
      </ul>
      </section>
<!--BOTONCITO-->
      <section class="boton">
        <button class="btn btn-outline-primary" type="button">Inscribirse</button>
      </section>
      
    </section>

  </nav>

</header>





