
<body>

<!--TITULO PRINCIPAL-->
    <section class="textopri">
        <h1 class="display-3">Precio</h1>
        <p class="lead">Adquiere uno de nuestros planes en promoción.</p>
    </section>


    <div class="container text-center">
        <div class="row">
        <!--TITULO TARJETA 1-->
            <section class="col-4">
                <section class="mt-5 card1">
                <h5 class="card-header ">Libre</h5>
        <!--CONTENIDO TARJETA 1-->
                    <section class="card-body">
                    <h5 class="card-title"><span class="dolar">$0</span>/mes</h5>
                    <span class="card-text">10 usuarios incluidos</span><br>
                    <span class="card-text">2 GB de almacenamiento</span><br>
                    <span class="card-text">Soporte de correo electrónico</span><br>
                    <span class="card-text">Acceso al centro de ayuda</span><br>
        <!--BOTON TARJETA 1-->
                        <section class="">
                            <br><button type="button" class="btn btn-outline-primary btn-lg">Registrate gratis</button>
                        </section>  
                    </section>
                </section>
            </section>

        <!--TITULO TARJETA 2-->
            <section class="col-4">
                <section class="mt-5 card1">
                <h5 class="card-header">Pro</h5>
        <!--CONTENIDO TARJETA 2-->
                    <section class="card-body">
                    <h5 class="card-title"><span class="dolar">$15</span>/mes</h5>
                    <span class="card-text">20 usuarios incluidos</span><br>
                    <span class="card-text">10 GB de almacenamiento</span><br>
                    <span class="card-text">Soporte prioritario de correo electrónico</span><br>
                    <span class="card-text">Acceso al centro de ayuda</span><br>
        <!--BOTON TARJETA 2-->
                        <section class="">
                            <br><button type="button" class="btn btn-primary btn-lg">Empezar</button>
                        </section>  
                    </section>
                </section>
            </section>

        <!--TITULO TARJETA 3-->
            <section class="col-4">
                <section class="mt-5 card1">
                <h5 class="card-header">Empresa</h5>
        <!--CONTENIDO TARJETA 3-->
                    <section class="card-body">
                    <h5 class="card-title"><span class="dolar">$29</span>/mes</h5>
                    <span class="card-text">30 usuarios incluidos</span><br>
                    <span class="card-text">15 GB de almacenamiento</span><br>
                    <span class="card-text">Soporte teléfonico y por correo electrónico</span><br>
                    <span class="card-text">Acceso al centro de ayuda</span><br>
        <!--BOTON TARJETA 3-->
                        <section class="">
                            <br><button type="button" class="btn btn-primary btn-lg">Conáctenos</button>
                        </section>  
                    </section>
                </section>
            </section>
        </div>
    </div>

</body>
